<% include ../header.html %>

<!--main-container-part-->
<div id="content">
  <!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb"> 
        <a href="/admin/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>主页</a>
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>添加产品</a>
    </div>
  </div>
  <!--End-breadcrumbs-->
  <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            <div class="widget-box widget-calendar">
                <div class="widget-title">
                    <span class="icon"><i class="icon-calendar"></i></span>
                    <h5>新增产品</h5>
                </div>
                <div class="widget-content">
                  <form action="/admin/productManage/create" method="post" class="form-horizontal">
                    <div class="control-group">
                      <label class="control-label">产品名称:</label>
                      <div class="controls">
                        <input class="span11" name="productName" id="productName" placeholder="First name" type="text">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">产品价格:</label>
                      <div class="controls">
                        <input class="span11" name="price" id="price" placeholder="Last name" type="text">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">折扣价格:</label>
                      <div class="controls">
                        <input class="span11" name="savingPrice" id="savingPrice" placeholder="Enter Password" type="password">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Company info :</label>
                      <div class="controls">
                        <input class="span11" placeholder="Company name" type="text">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Description field:</label>
                      <div class="controls">
                        <input class="span11" type="text">
                        <span class="help-block">Description field</span> </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">图片上传:</label>
                      <div class="controls">
                        <input class="span4" type="file" multiple=true id="uploadFile" />
                        <span class="btn pull-right" id="comfirmUpload" />开始上传</span>
                        <br />
                        

                        <ul class="thumbs-list">
                        </ul>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">详细描述:</label>
                      <div class="controls">
                        <textarea class="textarea_editor span12" rows="10" placeholder="Enter text ..."></textarea>
                      </div>
                    </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </form>
                </div>
            </div>

        </div>
      </div>
    </div>
</div>
<script>
function UploadFile(files,callback) {
  var fd = new FormData();
  for (var i=0; i<files.length; i++) {
    fd.append('files', files[i]);
  }
  var xhr = new XMLHttpRequest();
  if (xhr.upload){
    // start upload
    xhr.open("POST", "/upload", true);
    //xhr.setRequestHeader("X_FILENAME", file.name);
    xhr.onreadystatechange=function()
    {
    if (xhr.readyState==4 && xhr.status==200)
      {
        callback(JSON.parse(xhr.responseText));
      }
    }
    xhr.send(fd);
  }
}
    $('.textarea_editor').wysihtml5();
    console.log(editor);  
    $("#uploadFile").on("change",function(e){
      console.log(this.files,this);
    });
    $("#comfirmUpload").click(function(e){
      e.preventDefault();
      var files = document.getElementById("uploadFile").files;
      
      if(files.length == 0){
        alert('请先选择需要上传的文件');
        return;
      }
      UploadFile(files,function(res){
        console.log(res);
        var htmls = [];
        res.files.forEach(function(file){
          htmls.push("<li><img src='"+file+"' width='80px' /></li>")
        });
        console.log(htmls);
        $(".thumbs-list").html(htmls.join(""));
      });
      console.log('files:',files);
    });
    $(".thumbs-list").delegate("img","click",function(){
      var imgPath = $(this).attr('src');
      editor.currentView.element.focus();
      editor.composer.commands.exec("insertImage", imgPath);
    });
</script>
<% include ../footer.html %>
